# Eclipse
.classpath
.project
.settings/
.metadata
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# git
.git/

.claude/worktrees/admiring-leavitt-df6178/
.vscode/launch.json
